{% extends 'base.html.twig' %}


{% block title %}SympUser Users{% endblock %}

{% block body %}
  {% if users %}
    <table id="users" class="table table-striped">
      <thead>
        <tr>
          <th>User Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.lastName }}</td>
            <td>
              <a href="/symphuser/public/user/{{ user.id }}" class="btn btn-dark">Show</a>
              <a href="/symphuser/public/user/edit/{{ user.id }}" class="btn btn-dark">Edit</a>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No users to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}